@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

:root {
  --txt-grey: #5e5e5e;

  --font-title: "Raleway", sans-serif;

  --bold: 700;
  --black: 900;
}

* {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

html,
body {
  height: 100%;
}

/*RESET*/
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/*end reset*/

body {
  width: 100%;
  color: var(--txt-grey);

  font-family: var(--font-title);
  font-size: 16px;

  overflow-x: hidden;
}

.container {
  width: 100%;
  height: auto;
  background: white;
  margin-bottom: 300px;

  animation: shadowAnim 25s ease infinite;
}

@keyframes shadowAnim {
  0%,
  100% {
    box-shadow: 0 5px 10px rgba(255, 200, 61, 0.2),
      0 10px 20px rgba(255, 200, 61, 0.2), 0 20px 40px rgba(255, 200, 61, 0.2);
  }
  25% {
    box-shadow: 0 5px 10px rgba(29, 160, 242, 0.22),
      0 10px 20px rgba(29, 160, 242, 0.22), 0 20px 40px rgba(29, 160, 242, 0.22);
  }
  50% {
    box-shadow: 0 5px 10px rgba(243, 68, 115, 0.22),
      0 10px 20px rgba(243, 68, 115, 0.22), 0 20px 40px rgba(243, 68, 115, 0.22);
  }
  75% {
    box-shadow: 0 5px 10px rgba(14, 190, 81, 0.22),
      0 10px 20px rgba(14, 190, 81, 0.22), 0 20px 40px rgba(14, 190, 81, 0.22);
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0;
  padding: 1rem 10%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
}

.header__logo {
  font-family: var(--font-title);
  font-weight: var(--black);
  font-size: 3em;

  user-select: none;
  cursor: pointer;

  transition: all 0.5s ease;
}

.logo__left-hand,
.logo__right-hand {
  display: inline-block;
  font-size: 2rem;
  user-select: none;
  transition: transform 0.4s ease;
}

.logo__left-hand {
  margin-left: 1rem;
}

.logo__left-hand.-animate {
  animation: lefthandAnim 1s ease;
}

@keyframes lefthandAnim {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(18px);
  }
}

.logo__right-hand {
  transform: translateX(30px);
}

.logo__right-hand.-animate {
  animation: righthandAnim 1s ease;
}

@keyframes righthandAnim {
  0%,
  100% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(12px);
  }
}

.nav__link {
  display: inline-block;
  font-family: var(--font-title);
  font-weight: var(--bold);
  font-size: 1em;
  opacity: 0.65;
  margin-right: 1rem;
  cursor: pointer;

  user-select: none;
  transition: all ease 0.3s;
}

.nav__link:last-of-type {
  margin-right: 0;
}

.nav__link:hover,
.nav__link.-active {
  transform: translateY(-2px);
  opacity: 0.95;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.section {
  width: 100%;
  height: calc(100vh - 90px);
  grid-template-columns: auto 5% auto;

  display: grid;
  align-items: center;
  padding: 0 10%;
}

.section.-nogrid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section.-grey_bg {
  background-color: #f5f5f5;
}

.section.-lightgrey_bg {
  background-color: #fbfbfb;
}

.-start {
  grid-row: 1/2;
  grid-column: 1/2;
}

.-end {
  grid-row: 1/2;

  grid-column: 3/4;
}

.section__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section__grid {
  background-color: white;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 2.5rem 4rem;
  place-items: center;
}

.skills__icon {
  opacity: 0.25;
  transform: scale(0.95);

  transition: all 0.5s ease;
}

.-active {
  opacity: 1;
  transform: scale(1);
}

.-discrete {
  display: inline-block;
  font-size: 0.5em;
  opacity: 0.5;
  margin-left: 0.25rem;
}

.-hop {
  animation: littleHop 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@keyframes littleHop {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.skills__icon:hover {
  opacity: 1;
  transform: scale(1);
}

.info__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.info__txt {
  font-family: var(--font-title);
  font-weight: var(--bold);
  font-size: 2.25em;
  line-height: 1.25;

  transition: all 0.5s ease;
}

.info__p {
  margin-top: 1rem;
  opacity: 0.75;
}

.skills__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skills__cat {
  display: inline-block;
  font-size: 2em;
  font-weight: var(--bold);
  margin-bottom: 1rem;
  cursor: default;
  position: relative;
}

.skills__cat::before {
  content: "";
  width: 0%;
  height: 0.2em;
  background-color: #ffc83d;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;

  transition: all 0.5s ease;
}

.section__photo {
  width: 85%;
  filter: grayscale(0.9);
  transition: all 0.5s ease;
}

.section__photo:hover {
  filter: grayscale(0.1);
}

.work__icons {
  width: 400px;
  height: 400px;
  background-color: white;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.work__icon {
  position: absolute;
  width: 135px;
  filter: blur(2px);
  opacity: 0.85;
  transform: scale(0.95);
  /* animation: floatingAnim 15s linear infinite; */
  transition: all 0.5s ease;
}

.work__icon:hover,
.work__icon.-active {
  transform: scale(1.05);
  filter: blur(0);
  opacity: 1;
  z-index: 99;
}

.work__icon.-behance {
  top: 25%;
  left: 35%;
}

.work__icon.-github {
  top: 48%;
  left: 25%;
}

.work__icon.-codepen {
  top: 44%;
  left: 50%;
}

.footer {
  background-color: #333;
  padding: 2.5rem 0;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  font-family: var(--font-title);
  font-weight: var(--black);
  opacity: 0.5;
  font-size: 2em;

  user-select: none;
  cursor: pointer;

  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.footer__social {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer__icon {
  width: 25px;
  filter: brightness(0) invert(1);
  opacity: 0.45;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

.footer__icon.-nomargin {
  margin-left: 0;
}

.footer__link {
  color: white;
  opacity: 0.45;
  transition: all 0.3s ease;
}

.footer__logo:hover,
.footer__icon:hover,
.footer__link:hover {
  opacity: 0.75;
}

@keyframes floatingAnim {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  33.3% {
    transform: translate3d(5px, 5px, 0);
  }
  66.6% {
    transform: translate3d(-5px, 7px, 0);
  }
}

.social__link {
  display: inline-block;
  position: relative;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  cursor: pointer;
}

.social__link::after {
  content: "";
  width: 0%;
  height: 0.2em;
  background-color: inherit;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  /* mix-blend-mode: difference; */

  transition: all 0.5s ease;
}

.social__link:hover::after,
.skills__cat:hover::before {
  width: 100%;
}

.social__link.-behance {
  background-color: #053eff;
}

.social__link.-codepen {
  background-color: #bd36e8;
}

.social__link.-github {
  background-color: #e4a438;
}

.social__link.-twitter {
  background-color: #1da1f2;
}

.social__link::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: -25%;
  top: -75%;
  background-repeat: no-repeat;
  background-size: contain;

  transform: rotate(90deg) scale(0.5);
  opacity: 0;
  transform-origin: bottom left;

  transition: all 0.5s ease;
}

.social__link.-twitter::before {
  background-image: url("../images/social/twitter.svg");
}

.social__link.-linkedin::before {
  background-image: url("../images/social/linkedin-colors.svg");
}

.social__link.-email::before {
  background-image: url("../images/social/arroba-icon.svg");
}

.social__link:hover::before {
  transform: rotate(0) scale(1);
  opacity: 1;
}

.social__link.-linkedin {
  background-color: #006699;
}

.social__link.-email {
  background-color: #f34473;
}

.hidden-textarea {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
/*MEDIA QUERIES*/

@media only screen and (max-width: 950px) {
  .header {
    padding: 1rem 2.5%;
  }
}

@media only screen and (max-width: 775px) {
  .header {
    position: initial;
    backdrop-filter: initial;
    justify-content: center;
    align-items: center;
  }

  .header__nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 -0.1rem #5e5e5e;
  }

  .nav__list {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
  }

  .nav__link {
    width: 25%;
    height: 100%;
    font-size: 0.75em;
    margin: 0;
  }

  .link__anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
